<h3 style="margin-bottom: 20px;">Editar produto</h3>
<form [formGroup]="addProductForm" (ngSubmit)="editarProduto(id.value)">
    <input #id formControlName="id" type="hidden">
    <div class="form-group">
       <label for="nome">Nome*</label>
       <input formControlName="nome" type="text" class="form-control" id="nome" disabled>
    </div>
    <div class="form-group">
        <label for="tipo">Tipo*</label>
        <input formControlName="tipo" type="text" class="form-control" id="tipo" disabled>
    </div>
    <div class="form-group">
        <label for="valor">Valor*</label>
        <input formControlName="valor" type="text" currencyMask class="form-control" id="valor" currencyMask [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }">
    </div>
    <div class="form-group">
        <label for="estoque">Estoque entrada*</label>
        <input formControlName="estoque_entrada" type="number" id="estoque" class="form-control">
        <input formControlName="vendas" type="hidden">
    </div>
    <div class="form-group">
        <label for="vendas">Vendas*</label>
        <input formControlName="vendas" type="number" id="vendas" class="form-control" min="0">
    </div>
    <div class="form-group">
        <label for="estoque_loja">Estoque loja*</label>
        <input formControlName="estoque_loja" type="number" id="estoque_loja" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Editar</button>
</form>